    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, sans-serif;
    color: #333;
    cursor: url("https://i.imgur.com/5v5M8gh.png"), auto;
    box-sizing: border-box;
    display: block;
    margin: 0 15px 30px;
    padding: 0;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;