element.style {
}
.page .Blog article.post {
    border: 0;
}
@media screen and (max-width: 1100px) {
    .Blog article.post, .Blog .breadcrumbs, .Blog .related-posts, .Blog .author-posts, .Blog .show-comment, .Blog #disqus_thread {
        margin-right: 0;
        margin-left: 0;
    }
}
.Blog article.post {
    margin: 0 15px 30px;
    padding: 0;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #ebeced;
}
.Blog article, .FeaturedPost article {
    display: block;
    background-color: #fefefe;
    margin: 0 0 20px;
    padding: 10px 10px 15px;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(30, 30, 30, .07);
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
article {
    display: block;
    unicode-bidi: isolate;
}
html, body {
    cursor: url(https://i.imgur.com/5v5M8gh.png), auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #48525c;
    background-color: #fafafc;
    -webkit-font-smoothing: antialiased;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 4px;
        height: 5px;
    }
}
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, .45);
    }
}
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .15);
        border-radius: 10px;
    }
}
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

